* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font: 16px sans-serif;
}
body {
	position: relative;
	width: 768px;
	height: 448px;
	top: 16px;
	/* sdk opens smaller window, as narrow as 788px, if icon is too close
	   to the right of the screen, balance this variable space evenly */
	margin: 0 auto;
}
#log {
	display: block;
	overflow-y: scroll;
	resize: none;
	background: none;
	/* explicit size required for textarea */
	width: 768px;
	height: 448px;
}
